.card{
    transition:0.3s;
}

.card:hover{
    transform:translateY(-10px);
    box-shadow:0 15px 30px rgba(0,0,0,0.2);
}

h2{
    font-weight:bold;
}

.card {
    border-radius: 20px;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 15px 35px rgba(0,0,0,0.2);
}

.card h2 {
    font-size: 2.5rem;
}

.card h1 {
    font-size: 3rem;
}